version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: weekly
    time: "11:00"
  open-pull-requests-limit: 10
  groups:
    all:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
